{
    "env": {
      "node": true,
      "es6": true
    },
    "parserOptions": {
      "ecmaVersion": 6
    },
    "rules": {
      "indent": ["error", 2],
      "semi": ["error", "always"],
      "quotes": ["error", "single"],
      "no-console": "error",
      "no-unused-vars": "warn",
      "no-undef": "error",
      "camelcase": ["error", { "properties": "never" }],
      "eqeqeq": "error",
      "no-magic-numbers": ["error", { "ignore": [-1, 0, 1] }],
      "no-constant-condition": "warn"
    }
  }